@{
    Layout = "_LayoutColumn";
    ViewData["Title"] = "Home Page";
}

<p>pageId : @ViewData["pageId"]</p>
<p>tag: @ViewData["tag"]</p>
<p>search: @ViewData["search"]</p>

@section Column {
    <p>COLUMN!!!!!</p>
}